.home{
    margin: 20px 0 0 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
}
.registration{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 300px;
    margin: auto;
    padding-top: 20px;
}
.registration input{
    padding-left: 10px;
    border-radius: 10px;
    height: 30px;
    border: 2px solid teal;
} 
.registration button{
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    font-size: 18px;
    font-weight: 300;
    color: white;
    box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, .10);
    border: none;
    cursor: pointer;
} 
.table {
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
}
.table th, td{
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.table th, td{
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
.table td {
    background: #D8E6F3;
} 